
@{
    ViewBag.Title = "ConfirmUser";
}

    <body>
        <h2>Confirm User</h2>
        <p>The following user information has been added to the system</p>
        <p>ViewBag.Message</p>
    </body>


