
@{
    ViewBag.Title = "ConfirmUser";
}

    <body>
        <h2>Confirm User</h2>
        <p>The following user information has been added to the system</p>
        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
        <p>Favorite Artist: @Model.FavoriteMusicArtist</p>
        <p>Favorite Song: @Model.FavoriteSong</p>
    </body>


